.page-header{
	border:none
}

@media (min-width:1001px)
{
    body
    {
	    color: #000;
        margin: 30px;
    }
	.component{
		width: 1200px;
		background-color: #d3d3d3;
		padding: 30px;
		border-radius: 10px
	}
	legend{
		font-size: 30px;
		border-width: initial;
		border-color: #fff;

	}
	.flex-text-wrapper, .input-wrapper, .text-wrapper{
		padding: 5px;
		line-height: 40px;
		font-size: 20px;
	}
	.input-wrapper, .text-wrapper{
		height: 50px;
	}
	.cheque-data-collection * .text-wrapper{
		text-align: center;
	}
	.component * input{
		width:100%;
		height:100%;
		border-radius:5px
	}
	.btn-input{
		background-color:#5f9ea0
	}
	.text-input{
		padding:10px
	}
	
}

@media (max-width:1000px)
{
    h1{
	    font-size: 70px;
    }

    body
    {
        width: 100%;
        color: #000;
        padding : 30px;
    }

    .component{
        background-color: #d3d3d3;
        padding: 30px;
	}

	legend{
        font-size:70px;
        padding-bottom: 10px;
	}

    .dot{
        display: none;
    }

	.flex-text-wrapper, .input-wrapper, .text-wrapper{
		padding: 5px;
		line-height: 60px;
		font-size: 50px;
	}

    .flex-text-wrapper{
		margin-top: 40px;
	}

    .text-wrapper{
        margin-top: 40px;
        margin-bottom: 10px;   
	}
	.cheque-data-collection * .text-wrapper{
        
	}
	.component * input{
		padding: 20px;
	}

	.btn-input{
        width: 100%;
        height: 100%;
        margin-top:30px;
        background-color:#5f9ea0
	}

	.text-input{
        width: 100%;
        height: 100%;
	}


}