﻿@using BankCheque.Models.Cheque
@model ChequeVM

@section PageHeader {
    <h1>@Model.PageTitle</h1>
}

<div class="component cheque-data-collection">    
    @using (Html.BeginForm("SubmitCheque", "Cheque", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>
                @Model.HelpMessage
            </legend>
            <div class="row">
                <div class="text-wrapper col-md-4 col-sm-12">@Model.PayeeNameLabel</div>
                <div class="input-wrapper col-md-8 col-sm-12">
                    <input id="cheque-payee-name" required pattern="[a-zA-Z ]*[a-zA-Z]+[a-zA-Z ]*" name="PayeeName" class="text-input" placeholder="Full Name"/>
                </div>
            </div>
            <div class="row">
                <div class="text-wrapper col-md-4 col-sm-12">@Model.ChequeValueLabel</div>
                <div class="input-wrapper col-md-5 col-sm-12">
                    <input id="cheque-dollars-value" required pattern="[0-9]{0,15}" name="ChequeValueDollars" class="text-input" placeholder="Dollars"/>
                </div>
                <div class="text-wrapper dot col-md-1">.</div>
                <div class="input-wrapper col-md-2 col-sm-12">
                    <input id="cheque-cents-value" pattern="[0-9]{0,2}" name="ChequeValueCents" class="text-input" placeholder="Cents" />
                </div>
            </div>
            <div class="row"> 
                <div class="col-md-4 col-sm-12"></div>
                <div class="btn-input-wrapper input-wrapper col-md-8 col-sm-12">
                    <input type="submit" value="Submit" class="btn-input" />
                </div>
            </div>   
        </fieldset>
    }
</div>

@Scripts.Render("~/script/chequescript")