﻿@using BankCheque.Models.Cheque
@model ChequeVM

@section PageHeader {
    <h1>@Model.PageTitle</h1>
}

<div class="component cheque">    
    <div class="text-wrapper">@Model.ChequeData.PayeeName</div>
    <div class="text-wrapper">@Model.ChequeData.GetFormatedValue()</div>
    <div class="flex-text-wrapper">@Model.ChequeData.getValueInWords()</div>
</div>
