﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    @Styles.Render("~/style/css")

</head>
<body>
    <div class="body-container">
        <div class="global-header">
            @Html.Partial("~/Views/Shared/GlobalHeader.cshtml")
        </div>
        <div class="page-header">
            @RenderSection("PageHeader")
        </div>

        @RenderBody()
        <div class="footer-container">
            @Html.Partial("~/Views/Shared/Footer.cshtml")
        </div>
    </div>
    @Scripts.Render("~/script/jquery")
    @Scripts.Render("~/script/bootstrap")
</body>
</html>
